@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import "tailwindcss";


/* Global styles can go below; Tailwind utilities come from the import above. */
@layer base {
  @import 'material-icons/iconfont/material-icons.css';
  :root {
    --font-aldrich: "Aldrich", sans-serif;
    --font-sans: var(--font-aldrich);
    --lqip: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 37%, #e0e0e0 63%);
  }
  .icon-inline{
    font-size: 1em;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }
  a:any-link{
    &:hover{
      cursor: pointer;
    }
  }
}
@layer components{
  .btn{
    @apply transition-all duration-300 ease-out cursor-pointer px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600;
  }

  .btn-primary{
    @apply transition-all duration-300 ease-out cursor-pointer bg-green-500 hover:bg-green-600;
  }
  .btn-secondary{
    @apply transition-all duration-300 ease-out cursor-pointer bg-gray-400 hover:bg-gray-600;
  }
}
@theme{
  --color-lime-950: #525252;
  --color-lime-800: #7A8B75;
  --color-lime-500: #5CD43B;
  --color-gray-950: #171215;
  --color-gray-900: #0A0A0A;
  --color-gray-800: #030213;
  --color-gray-500: #525252;
  --color-gray-100: #E5E5E5;
  --color-gray-50: #F5F5F5;
}

@layer utilities {
  .is-sticky {
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    z-index: 1;
    .logo{
      animation: scale linear both;
      animation-timeline: scroll();
      animation-range: 0% 10%;
    }
  }
  .scroll-zoom {
    animation: scroll-zoom linear both;
    animation-timeline: view(block);
    animation-range: entry -10% exit 80%;
    animation-delay: calc(var(--index) * 0.5s);
    perspective: 1000px;
  }
  .waves{
    .w1, .w2, .w3, .w4, .w5, .w6{
      animation: waves-hz 10s ease-in-out infinite calc(var(--delay) * .5s);
    }
  }
}

@keyframes waves-hz{
  0%, 100% {
    transform: translate(0, 0);
  }
  25%{
    transform: translate(-10%, 2%);
  }
  75% {
    transform: translate(1%, -2%);
  }
}

@keyframes wave-anim{
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(10rem);
  }
}
@keyframes scroll-zoom {
  0% {
    transform: translateY(3rem) scale(0.8);
    opacity: 0.25;
  }
  45%, 80% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-20.5rem) scale(0.8);
    opacity: 0.5;
  }
}
@keyframes scale{
  to{
    transform: scale(.9);
    padding-block: 1rem;
  }
}
